<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/styles.css"> 
    <title>pokeAPI Explorer</title>
</head>

<body>
    <header>
        <h1>pokeAPI Explorer</h1>
        <nav>
            <ul>
                <li><a href="/api/pokemon">Pokémon List</a></li>
                <li><a href="/api/pokemon/history">Recently Viewed Pokemon</a></li>
                <li><a href="/api/move">Moves</a></li>
                <li><a href="/api/item">Items</a></li>
            </ul>
        </nav>
    </header>

    {{{body}}}

    <footer>
        <p>Connor Durkin</p>
    </footer>
</body>
</html>