<section>

  {{#if hasError}}
    <h4>Error fetching move data! Status: {{errorStatus}}</h4>
  {{else}}
  <h2 style="text-transform: uppercase;">{{pokemon.name}}</h2>
  
  <div>
  <a href="/api/pokemon">Back to Pokemon List</a>
  </div>
  
  <h3>Pokemon Details</h3>
  <pre>{{json pokemon}}</pre>
  {{/if}}

</section>
